<section>
    <div id="ticket" class="fondo">
        <h4>Sistema de divisas</h4>
        <p>Accion: <%- voc %></p>
        <p>Tipo de cambio: <%- tipocambio %></p>
        <p>Total de dolares: <%- dolarcomprar %></p>
        <p>Total de pesos: <%- pesosadar %></p>
        <p>Recibido: <%- recibido %> </p>
        <p>Cambio: <%- cambio %> dolares</p>
    </div>
    <div class="botones">
        <div class="botones">
            <button class=" col-4 regresar btn-dark"> <a href="/">terminar</a></button>
        </div>
    </div>
</section>